# python
*.egg-info
*_version.py
*.pyc
*__pycache__
.mypy_cache

# pytask
.pytask.sqlite3
.pytask

# bld
bld/

# pixi
.pixi/

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz

#MacOS
.DS_Store

#VSCode
.vscode/

# ignore data directory
data/

# ignore notebooks
*.ipynb

# ignore sandbox
sandbox/

# ignore pickle files
*.pickle
