# bld
bld/

# data directory (ignore except for .gitkeep files)
data/**
!data/**/
!data/**/.gitkeep

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz

# macOS
.DS_Store

# notebooks
*.ipynb

# pickle files
*.pickle
*.pkl

# pixi
.pixi/

# python
*.egg-info
*.pyc
*__pycache__
*_version.py
.mypy_cache

# pytask
.pytask
.pytask.sqlite3

# VSCode
.vscode/
