# ======================================================================================
# Project metadata
# ======================================================================================

[project]
name = "soep_preparation"
description = "Prepare the SOEP data for analysis."
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.1,<3",
    "pyarrow>=21.0.0",
    "pytask-parallel>=0.5.1,<0.6",
    "pytask>=0.5.5,<0.6"
]
dynamic = ["version"]
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
]
authors = [
    { name = "Felix Schmitz", email = "s87fschm@uni-bonn.de" },
]
maintainers = [
    { name = "Felix Schmitz", email = "s87fschm@uni-bonn.de" },
]

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.license]
file = "LICENSE"

[project.urls]
Repository = "https://github.com/OpenSourceEconomics/soep-preparation"
Github = "https://github.com/OpenSourceEconomics/soep-preparation"
Tracker = "https://github.com/OpenSourceEconomics/soep-preparation/issues"


# ======================================================================================
# Build system configuration
# ======================================================================================

[build-system]
requires = ["hatchling", "hatch_vcs"]
build-backend = "hatchling.build"

[tool.hatch.build.hooks.vcs]
version-file = "src/soep_preparation/_version.py"

[tool.hatch.build.targets.sdist]
exclude = ["tests"]
only-packages = true

[tool.hatch.build.targets.wheel]
only-include = ["src"]
sources = ["src"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.metadata]
allow-direct-references = true


# ======================================================================================
# Pixi configuration
# ======================================================================================

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[tool.pixi.dependencies]
deepdiff = "*"
jupyterlab = "*"
pre-commit = "*"
pygments = ">=2.19.2"
pygraphviz = "*"

[tool.pixi.pypi-dependencies]
soep_preparation = {path = ".", editable = true}
# gettsim = {git = "https://github.com/ttsim-dev/gettsim", branch = "main"}
kaleido = ">=1.0.0"
pdbp = ">=1.8.1"
ty = ">=0.0.9"


[tool.pixi.feature.py313.dependencies]
python = "~=3.13.0"

[tool.pixi.feature.py314.dependencies]
python = "~=3.14.0"

[tool.pixi.feature.test.tasks]
test = "pytest"
test-cov = "pytest tests --cov-report=xml --cov=./"
ty = "ty check"

[tool.pixi.feature.test.pypi-dependencies]
pytest-cov = "*"

# Environments
# --------------------------------------------------------------------------------------

[tool.pixi.environments]
py313 = ["test", "py313"]
py314 = ["test", "py314"]
test = ["test"]

# ======================================================================================
# Ruff configuration
# ======================================================================================

[tool.ruff]
target-version = "py313"
fix = true

[tool.ruff.lint]
select = ["ALL"]
extend-ignore = [
    "COM812", # Avoid conflict with ruff-format
    "FBT001", # Boolean-typed positional argument in function definition
    "FIX002", # rely on TODO-spotting from TD area.
    "ISC001", # Avoid conflict with ruff-format
    "PD015", # pd.merge fine because of inherent symmetry
    "S101", # Use of `assert` detected.
    "TC002", # Move third-party import into a type-checking block
    "TC003", # Move standard library import into a type-checking block
]

[tool.ruff.lint.pylint]
max-statements = 100

[tool.ruff.lint.per-file-ignores]
"**/task.py" = ["ANN"]
"sandbox/*" = ["INP001"]
"src/soep_preparation/config.py" = ["E402"]
"tests/*" = ["D", "ANN201", "INP001", "PD011"]
"tests/metadata/test_mapping_changed.py" = ["S108"]

[tool.ruff.lint.pydocstyle]
convention = "google"


# ======================================================================================
# ty configuration
# ======================================================================================

[tool.ty.rules]
ambiguous-protocol-member = "error"
deprecated = "error"
division-by-zero = "error"
ignore-comment-unknown-rule = "error"
invalid-argument-type = "error"
invalid-ignore-comment = "error"
invalid-return-type = "error"
possibly-missing-attribute = "error"
possibly-missing-implicit-call = "error"
possibly-missing-import = "error"
possibly-unresolved-reference = "error"
redundant-cast = "error"
undefined-reveal = "error"
unresolved-global = "error"
unsupported-base = "error"
unused-ignore-comment = "error"
useless-overload-body = "error"


# ======================================================================================
# pytask configuration
# ======================================================================================

[tool.pytask.ini_options]
editor_url_scheme = "vscode"
paths = ["./src/soep_preparation"]
pdbcls = "pdbp:Pdb"
task_files = ["task_*.py", "task.py", "tasks.py"]


# ======================================================================================
# pytest configuration
# ======================================================================================

[tool.pytest.ini_options]
addopts = "--pdbcls=pdbp:Pdb"
filterwarnings = []
