# ======================================================================================
# Project metadata
# ======================================================================================

[project]
name = "soep_preparation"
description = "Prepare the SOEP data for analysis."
requires-python = ">=3.13"
dependencies = ["gettsim>=1.0a1", "pytask>=0.5.5,<0.6"]
dynamic = ["version"]
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
]
authors = [
    { name = "Felix Schmitz", email = "s87fschm@uni-bonn.de" },
]
maintainers = [
    { name = "Felix Schmitz", email = "s87fschm@uni-bonn.de" },
]

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.license]
file = "LICENSE"

[project.urls]
Repository = "https://github.com/OpenSourceEconomics/soep-preparation"
Github = "https://github.com/OpenSourceEconomics/soep-preparation"
Tracker = "https://github.com/OpenSourceEconomics/soep-preparation/issues"


# ======================================================================================
# Build system configuration
# ======================================================================================

[build-system]
requires = ["hatchling", "hatch_vcs"]
build-backend = "hatchling.build"

[tool.hatch.build.hooks.vcs]
version-file = "src/soep_preparation/_version.py"

[tool.hatch.build.targets.sdist]
exclude = ["tests"]
only-packages = true

[tool.hatch.build.targets.wheel]
only-include = ["src"]
sources = ["src"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.metadata]
allow-direct-references = true


# ======================================================================================
# Pixi configuration
# ======================================================================================

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[tool.pixi.dependencies]
python = ">=3.13,<3.14"
jupyterlab = "*"
pre-commit = "*"
pygraphviz = "*"
pyarrow = ">=21.0.0,<22"
pandas = ">=2.3.1,<3"
pytask-parallel = ">=0.5.1,<0.6"

[tool.pixi.pypi-dependencies]
soep_preparation = {path = ".", editable = true}
# gettsim = {git = "https://github.com/ttsim-dev/gettsim", branch = "main"}
kaleido = ">=1.0.0"
pdbp = "*"
pytest-cov = "*"

# Features
# --------------------------------------------------------------------------------------

[tool.pixi.feature.py313.dependencies]
python = "~=3.13"

[tool.pixi.feature.mypy.pypi-dependencies]
mypy = ">=1.17"
types-PyYAML = "*"
types-pytz = "*"


# Tasks
# --------------------------------------------------------------------------------------

[tool.pixi.feature.test.tasks]
tests = "pytest"
tests-with-cov = "pytest tests --cov-report=xml --cov=./"

[tool.pixi.feature.test.pypi-dependencies]
pytest-cov = "*"

[tool.pixi.feature.mypy.tasks]
mypy = "mypy --ignore-missing-imports"

# Environments
# --------------------------------------------------------------------------------------

[tool.pixi.environments]
mypy = ["mypy"]
py313 = ["test", "py313"]



# ======================================================================================
# Ruff configuration
# ======================================================================================

[tool.ruff]
target-version = "py313"
fix = true

[tool.ruff.lint]
select = ["ALL"]
extend-ignore = [
    "S101", # Use of `assert` detected.
    "COM812", # Avoid conflict with ruff-format
    "ISC001", # Avoid conflict with ruff-format
    "PD015", # pd.merge fine because of inherent symmetry
    "FBT001", # Boolean-typed positional argument in function definition
    "FIX002", # rely on TODO-spotting from TD area.
]

[tool.ruff.lint.pylint]
max-statements = 100

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["D", "PD011", "ANN201"]
"**/task.py" = ["ANN"]

[tool.ruff.lint.pydocstyle]
convention = "google"


# ======================================================================================
# pytask configuration
# ======================================================================================

[tool.pytask.ini_options]
paths = ["./src/soep_preparation"]
pdbcls = "pdbp:Pdb"
editor_url_scheme = "vscode"
task_files = ["task_*.py", "task.py", "tasks.py"]


# ======================================================================================
# pytest configuration
# ======================================================================================

[tool.pytest.ini_options]
addopts = "--pdbcls=pdbp:Pdb"
filterwarnings = []
markers = [
    "wip: Tests that are work-in-progress.",
    "unit: Flag for unit tests which target mainly a single function.",
    "integration: Flag for integration tests which may comprise of multiple unit tests.",
    "end_to_end: Flag for tests that cover the whole program.",
]
norecursedirs = ["docs"]


# ======================================================================================
# yamlfix configuration
# ======================================================================================

[tool.yamlfix]
line_length = 88
none_representation = "null"
